@model DeckOfCards.Models.RootObject

@{
    ViewData["Title"] = "ViewDeckId";
}

<h1>ViewDeckId</h1>

<div>
    <h4>RootObject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.success)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.success)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.deck_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.deck_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.remaining)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.remaining)
        </dd>
    </dl>
</div>

@Html.ActionLink("Draw 5", "List", new { deckId = Model.deck_id })
