@model IEnumerable<DeckOfCards.Models.RootObject>

@{
    ViewData["Title"] = "sample";
}

<h1>sample</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.success)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deck_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remaining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.success)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deck_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remaining)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
